#thumbnail{
    margin-bottom: 20px;
    border: 1px dashed #ddd;
    background-size: cover;
    cursor: pointer;
    height: 160px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#thumbnail input{
    display: none;
}

#thumbnail .hidden{
    display: none;
}

#thumbnail .thumbnail-preview {
	max-width: 100%;
	max-height: 100%;
}